body {
    color: #222;
}

.main-nav {
    border-top:1px solid #EAE9E8;
    border-bottom:1px solid #EAE9E8;
}
.logo-delimetr {
    width: 1px;
    height: 30px;
    background-color: #ccc;
    margin: 15px 15px;
    display: inline-block;
    vertical-align: top;
}
.navbar-brand>img {
    display: inline-block!important;
    max-height: 100%;
}

.navbar-client {
    margin: 0;
    border: 0;
    box-shadow:none;
    min-height:50px;

}
.navbar-client .nav>li {
    font-size: 16px;
}
.navbar-client .navbar-nav>li>a {
    color: #999;
    padding: 15px 15px;
    font-weight: 100;
    margin: 0 10px;
}
.navbar-client .navbar-nav>li:first-child>a {
    margin: 0;
}
.navbar-client .nav>li>a:hover,
.navbar-client .nav>li>a:focus {
    text-decoration: none;
    color: #212121;
}
.navbar-client .navbar-form {
    padding: 0 15px;
    margin-bottom: 0;
    margin-top: 5px;
}

.navbar-custom .navbar-nav li>a.user-menu {
    font-size: 18px;
    color: #999
}
.navbar-custom .navbar-nav li>a.user-menu:hover,
.navbar-custom .navbar-nav li>a.user-menu:active {
    color: #f07e2c
}

.menu-notifications {
    max-width: 350px;
    min-width: 250px;
    font-size: 13px;
}
.menu-notifications li a {
    white-space: normal;
}


.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control {
    text-shadow: none;
    background-image: none!important;
    color: #0099cc;
}
.carousel-control:hover,
.carousel-control:active {
    color: #00b5f1;
}
.carousel-indicators li {
    border: 1px solid #ccc;
}
.carousel-indicators .active {
    background-color: #f0f0f0;
}


.product-list-table .prev-img {
    float:left;
    margin-right:10px;
}
.product-list-table .prev-img img {
    max-width: 50px;
    vertical-align:top;
}
.product-list-table .name {
    margin-top:0;
}


.product-list {
    margin-top: 25px;
}
.product-list .panel {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #222;
    -webkit-transition: box-shadow .1s ease-in-out;
    -moz-transition: box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    border: 1px solid #ccc;
    box-shadow:none;
}
.product-list .panel:hover {
    -webkit-box-shadow: 0 0 20px #B3B3B3;
    -moz-box-shadow: 0 0 20px #B3B3B3;
    box-shadow: 0 0 20px #B3B3B3;
}
.product-list .special {
    font-size: 16px;
    height: 20px;
}
.product-list .name {
    text-transform: uppercase;
}
.product-list .descr {
    color: #999;
}
.product-list .panel-footer {
    background-color:transparent;
}

.loadmore {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.promo-block {
    margin: 125px 0 75px 0;
}
hr {
    border-top: 1px solid #bbb;
}
footer .footer-content {
    padding: 30px 0;
    min-height: 100px;
    position: relative;
}

.product-page {

}
.product-page .special {

}
.product-page .description .tab-pane {
    margin: 20px 0;
}





.fuelux .spinbox {
    display: inline-block;
    position: relative;
    max-width: 90px;
}
.fuelux .spinbox.digits-3 {
    width: 60px;
}
.fuelux .spinbox.disabled .spinbox-buttons {
    cursor: not-allowed;
}
.fuelux .spinbox .spinbox-input {
    float: left;
    padding-bottom: 3px;
    /* Magic number */
    padding: 0px 25px 0px 7px;
}
.fuelux .spinbox .spinbox-input::-ms-clear {
    display: none;
}
.fuelux .spinbox .btn {
    position: relative;
    width: 20px;
    height: 13px;
    padding-top: 0;
    padding-right: 9px;
    padding-left: 9px;
}
.fuelux .spinbox .btn.disabled {
    cursor: not-allowed;
}
.fuelux .spinbox .spinbox-buttons {
    position: absolute;
    height: 28px;
    width: 20px;
    right: 2px;
}
.fuelux .spinbox .spinbox-up {
    padding: 0 0 14px 1px;
    top: 2px;
}
.fuelux .spinbox .spinbox-up .glyphicon-chevron-up {
    position: relative;
    top: 0px;
}
.fuelux .spinbox .btn-group > .btn.spinbox-up {
    border-top-right-radius: 4px;
}
.fuelux .spinbox .spinbox-down {
    padding: 0 0 8px 1px;
    top: 2px;
    height: 15px;
    border-bottom-left-radius: 4px;
}
.fuelux .spinbox .spinbox-down .glyphicon-chevron-down {
    position: relative;
    left: -1px;
    top: 0px;
}
.fuelux .spinbox input::-ms-clear {
    display: none;
}

.block-icon {
    display: block;
    margin-top: 15px;
}
.block-icon-ico {
    width: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    font-size:16px;
}
.block-icon-content {
    display: inline-block;
}

.main-container {
    margin-top:30px;
    margin-bottom:50px;
}


.avatar-small {
    max-width:40px;
}

.avatar {
    line-height: 1;
}
.avatar .name {
    display: inline-block;
    margin: 0;
}
.avatar img {
    vertical-align: top;
    margin: 0 15px;
}

.module-block {
    border-top: 1px solid #ccc;
    margin-top: 15px;
}
.module-block .lead {
    margin-top: 15px;
}


.panel-cart .panel-heading {
    background-color: #fff;
}
.panel-cart.panel-success .panel-body,
.panel-cart.panel-success .panel-heading {
    background-color: #669933;
    color:#fff;
}
.panel-cart .panel-heading .head {
    border-bottom:1px solid #f0f0f0;
    margin: 5px 0 0 0;
    padding-bottom:10px;
}
.panel-cart.panel-success .panel-heading .head {
    border-bottom:1px solid #fff;
}
.panel-cart .panel-body .summ {
    margin:5px 0 10px 0 ;
}
.panel-cart.panel-success .panel-body .summ small {
    color:#fff;
    opacity:0.6;
}
