body#page_signup .navbar {
  margin-bottom: 7px;
}
body#page_signup h1.page-header {
  font-size: 30px;
  line-height: 38px;
}
body#page_signup h1.page-header small {
  font-size: 16px;
}
body#page_signup .wizard .step-content label {
  font-size: 16px;
  color: #43656b;
}
body#page_signup .wizard .form-control:focus {
  box-shadow: 0 0 7px rgba(236, 105, 6, 0.6) !important;
  border: 1px solid #f6a062;
}
body#page_signup .wizard .form-horizontal .has-feedback .form-control-feedback {
  right: -20px;
}
body#page_signup .wizard .form-horizontal .form-control-help {
  color: #c1c0c0;
  line-height: 34px;
  position: absolute;
  z-index: 11;
  top: 0;
  right: -31px;
}
body#page_signup .wizard .has-success input {
  border: 1px solid #d2d2d2;
  box-shadow: none;
}
body#page_signup .wizard .has-error input {
  border: 1px solid #ea5b5b;
  box-shadow: none;
}
body#page_signup .wizard .actions .btn-link {
  color: #0099cc;
}
body#page_signup .wizard .actions .btn-next {
  padding: 5px 32px;
}
body#page_signup .wizard .actions .btn-prev {
  display: none;
}
body#page_signup .wizard .actions > div {
  padding-bottom: 150px;
}
body#page_signup .wizard button.multiselect.form-control {
  border: 1px solid #ccc;
}
body#page_signup .wizard button.multiselect.form-control .caret {
  float: right;
  margin-top: 8px;
}
body#page_signup .wizard .multiselect-item.filter {
  padding: 6px 7px;
  border-bottom: 1px solid #d2d2d2;
}
body#page_signup .wizard .btn-default {
  border: 1px solid #ccc;
}
body#page_signup .wizard .multiselect-group label {
  color: #999999;
  font-size: 15px;
  padding: 15px 20px 9px 17px;
}
body#page_signup .wizard .multiselect-item.filter button {
  height: 33.878px;
}
body#page_signup .wizard .multiselect-container .li > a label {
  font-size: 14px;
  color: #999999;
  height: 24px;
}
body#page_signup .wizard li a.li_multiselect-item {
  padding: 2px 0 4px 45px;
  height: 24px;
  margin-bottom: 1px;
}
body#page_signup .wizard li.active a.li_multiselect-item {
  background-color: #e0e0e0;
}
body#page_signup .wizard li.active a.li_multiselect-item label.checkbox {
  color: #484848;
}
body#page_signup .wizard label.checkbox {
  min-height: auto;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
}
body#page_signup .wizard label.checkbox input[type=checkbox] {
  float: left;
  margin-right: 15px;
  height: auto;
  margin-bottom: 0;
}
body#page_signup .wizard label.checkbox input[type=checkbox]:checked:before {
  border-color: #669933;
}
body#page_signup .wizard label.checkbox input[type=checkbox]:checked:after {
  background-color: #fff;
}
body#page_signup .wizard label.checkbox input[type=checkbox]:after {
  margin-bottom: 0px;
  margin-left: 0px;
  border: 1px solid #999999;
  height: 16px;
  width: 16px;
}
body#page_signup .step-pane[data-step="3"] .photo {
  width: 365px;
}
body#page_signup .step-pane[data-step="3"] .photo .photo_wrap {
  margin-bottom: 70px;
}
body#page_signup .step-pane[data-step="3"] .photo h2 {
  font-size: 24px;
  color: #43656b;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica;
}
body#page_signup .step-pane[data-step="3"] .photo p {
  font-size: 20px;
  color: #999;
}
